mixin register-guild(props = {})
  .register-guild
    .register-guild__text= props.text
    .register-guild__type= props.type
    .register-guild__desc= props.desc
    a(href="").register-guild__detail= props.detail
    //
    .register-guild__type= props.type1
    .register-guild__desc= props.desc1
    a(href="").register-guild__detail= props.detail
    a(href="").register-guild__detail= props.link

